* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color-primary: #d25609;
    --color-secondary: #325407;
    --text-primary: #fff;
    --text-secondary: #000;
}

.u-darkmode {
    --color-primary: #1a1a1a;
    --color-secondary: #2f2f2e;
}


html, body {
    font-family: 'Red Hat Text', sans-serif;
    line-height: 1.5;
    margin: 0;
    height: 100%;
    
}

.btn, .btn--next{
    background-color: var(--color-secondary);
    color: var(--text-primary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
}
.btn:hover{
    transform: scale(1.1);
    background-color: var(--color-primary);
    border: 1px solid #325407;
    color: var(--color-secondary);
    font-size: 1.1em;
}

.btn--next:hover {
    background-color: #a0c175;
    border: 1px solid #325407;
    color: var(--color-secondary);

}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 1rem;
    position: fixed;
    margin: 0;
    width: 100%;
    height: 3em;
    z-index: 100;
}

.header__logo img {
    max-height: 250px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.header__nav-item a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.header__menu-icon {
    display: none;
    cursor: pointer;
    color: var(--text-primary);
}

.header__menu-toggle {
    display: none;
    
}

.header__menu-dropdown {
    display: none;
    
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.header__menu-item a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: bold;
}

.header__btn-dark {
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1.2rem;
}

/* Main Sections */

.section {
    padding: 4rem 1rem;
    text-align: center;
}

.section--primary {
    background-color: var(--color-primary);
    color: var(--text-primary);
}

.section--secondary {
    background-color: var(--color-secondary);
    color: var(--text-primary);
}

.section__video-container video {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.section__text-container {
    max-width: 800px;
    margin: 2rem auto;
}

.section__title {
    font-family: 'Unbounded', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: typing 3s steps(30) ;
}

@keyframes typing {
    from {width: 0;}
    to{width: 100%;}
}

.section__text {
    font-size: 1.2rem;
}

/* Productos  destacados */
.featured-products {
    padding: 2rem 1rem;
    text-align: center;
}

.featured-products__title {
    font-family: 'Unbounded', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.featured-products__row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.featured-products__col {
    background-color: var(--text-primary);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 300px;
    text-align: center;
}
.featured-products__col img {
    width: 15em; /* Ajustar el ancho al contenedor */
    height: auto; /* Ajustar la altura automáticamente */
    max-height: 300px; /* Limitar la altura máxima para evitar el desbordamiento */
}


.featured-products__name {
    font-size: 1rem;
    margin: 1rem 0;
}

.featured-products__rate i {
    color: var(--color-primary);
}

.featured-products__price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-secondary);
}

/* Promo Section */
.promo {
    padding: 2rem 1rem;
    background-color: var(--color-primary);
    color: var(--text-primary);
    text-align: center;
}

.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.promo__img img {
    max-width: 50%;
}

.promo__text {
    max-width: 500px;
    text-align: center;
    font-size: 1.5em;
}

.promo__btn i {
    margin-left: 0.5rem;
}

/* Scroll Top Button */
.scroll-top-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--color-primary);
    color: var(--text-primary);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.scroll-top-btn.show {
    display: flex;
}

/* Footer */
.footer {
    background-color: var(--color-secondary);
    color: var(--text-primary);
    padding: 2rem 1rem;
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre columnas */
    align-items: center; /* Alinear verticalmente al centro */
    flex-wrap: wrap; /* Permitir flexión en dispositivos pequeños */
    gap: 2rem; /* Espaciado entre columnas */
    text-align: center;
}

.footer__column {
    flex: 1 1 300px; /* Ancho flexible con mínimo de 300px */
    max-width: 300px; /* Ancho máximo de cada columna */
}

.footer__logo img {
    max-height: 50px;
}

.footer__about,
.footer__social,
.footer__contact {
    flex: 1 1 300px; /* Ancho flexible con mínimo de 300px */
    max-width: 300px; /* Ancho máximo de cada columna */
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__social-icons a {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-decoration: none;
}




/* __________________________________________ */

.fruit-container {
    display: flex;
    justify-content: flex-start;
}

.fruit-container__fruit img{
    width: 90%; 
}

.animate-rotate {
    animation: rotate 4s infinite linear;
}

.animate-bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(120px); /* Posición inicial y final */
    }
    50% {
        transform: translateY(50px); /* Altura del salto */
    }
}

 @keyframes rotate {
        0% {
            transform: rotate(0deg) translateY(250px);
        }
        100% {
            transform: rotate(360deg);
        }
    }


.main {
    padding: 100px 20px 20px; /* Espacio por encima */
    
}

.registro-container {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar el contenido */
    align-items: flex-start; /* Alinear en la parte superior */
    gap: 40px; /* Espacio entre el formulario y la imagen */
    flex-wrap: wrap;
}


.registro {
    display: grid;
    width: 400px;
    background-color: var(--color-primary);
    padding: 30px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 30px;
    margin-top: 100px;
    color: var(--text-primary);
    box-shadow: 7px 13px 37px #81664c;
    text-align: center;
    
}

.registro--extendido{
    width: auto;
}



.registro__input {
    width: 90%;
    background-color: #f8f2e5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #faf6d2;
    font-size: 18px;
}

.registro__period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f2e5;
    color: var(--color-primary); 
    border: 2px solid var(--color-primary);
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.registro__period:hover {
    background-color: var(--color-primary); 
    color: #fff; 
    border-color: #fff;
    transform: scale(1.1);
}

.registro__habits {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-primary);
    color: #fff; 
    border: 2px solid ;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.registro a {
    color: #f3bc5c;
    text-decoration: none;
    font-size: 16px;
}

.registro a:hover {
    color: #a0c175;
    text-decoration: none;
}

.imagen {
    background-image: url('/img/form.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen__formulario { /* NO FUNCIONA*/
    background: url('img/form2.jpg');
    
}

.imagen--3 {
    background-image: url('/img/varios2.jpg');
}

.imagen__title {
    color: var(--text-primary);
    font-size: 2em;
    text-align: center;
}


.checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    justify-items: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.observaciones {
    margin-top: 20px;
    text-align: left;
}

/* ___USUARIO  */

.perfil {
    padding: 2rem;
    margin-top: 2rem; /* Espacio para el header fijo */
    background-color: var(--color-secondary);
    color: var(--text-primary);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
    text-align: left;
}

.perfil__container{
    display: flex; 
    flex-direction: column;/* Usar flexbox */
    justify-content: center; /* Centrar el contenido */
    align-items: center; /* Alinear en la parte superior */
    gap: 40px; /* Espacio entre el formulario y la imagen */
    flex-wrap: wrap;
}

.perfil__header {
    text-align: center;
    margin-bottom: 2rem;
}

.perfil__info{
    text-align: left; /*NO FUNCIONA*/
    margin: 0;
}

.perfil__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-secondary);
}

.perfil__name {
    font-size: 2rem;
    margin-top: 1rem;
}

.perfil__details,
.perfil__address,
.perfil__preferences,
.perfil__orders {
    margin-bottom: 1.5rem;
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: left; /* Alinear texto a la izquierda */
}

.perfil__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.perfil__list {
    list-style-type: none;
    padding-left: 0;
}

.perfil__item {
    margin: 0.5rem 0;
}


/* _-______________ formulario 3 */


.registro__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espacio entre los elementos */
}

.registro__heading {
    font-size: 1.8rem;
    color: var(--color-secondary);
    text-align: center;
    margin-bottom: 1rem;
}

.registro-formulario--habits {
    display: flex;
    flex-direction: column;
}

.registro-formulario--habits label {
    margin-bottom: 0.5rem;
    font-weight: 600; /* Texto en negrita para los labels */
}

.registro-formulario--habits select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.divbutton {
    display: flex;
    justify-content: space-between; /* Espaciado entre botones */
}



.registro-completado-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-primary);
    background-color: var(--color-primary);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 3em;

    max-width: 400px;
}

.registro-completado__heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.registro-completado__message {
    margin: 10px 0;
}

.registro-completado__next-step {
    margin-bottom: 20px;
}

.about{
    background-image: url(img/varios3.svg);
    
    
}
 .about, .contact, .map {
    padding: 4rem 1rem;
    text-align: center;
    margin-bottom: 10px;
   
}

.contact{
    background-image: url(img/citricoscortados.svg);
   
}
.map{
    background-image: url(img/frambuesa.svg);
    
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    
}

.contact__input, .contact__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact__textarea {
    resize: none;
    height: 100px;
}

.map__container {
    margin: 2rem auto;
    width: 100%;
    max-width: 800px;

}

.map__iframe {
    width: 100%; /* Hace que el iframe ocupe el 100% del contenedor */
    height: 400px; /* Altura por defecto */
    border: 0; /* Sin bordes */

}


@media screen and (max-width: 400px) and (max-height: 881px) {
    .header__menu-icon {
        display: block;
    }

    .header__nav {
        display: none;
    }
    
    .perfil {
    padding: 2rem 2rem;
    margin-top: 60px; /* Espacio para el header fijo */
    background-color: var(--color-secondary);
    color: var(--text-primary);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 2rem auto;
    text-align: left;
    }

    .checkbox-group {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .perfil {
        padding: 1rem 1rem;
        margin-top: 30px; /* Espacio para el header fijo */
        max-width: auto;
        margin: 2rem auto;
        text-align: left;
    }

    .header__menu-icon {
        display: block;
    }
    
    .header__nav {
        display: none;
    }

    .header__menu-dropdown {
        display: none;
    }
    

    .footer__content {
        flex-direction: row; /* Asegura que las columnas sigan alineadas en una fila */
        justify-content: space-between; /* Distribuir espacio entre columnas */
    }

    .footer__column {
        flex: 1 1 100%; /* Asegura que las columnas ocupen el ancho completo */
        max-width: 100%; /* Ancho máximo al 100% */
        text-align: center; /* Centra el texto */
    }

    .registro-container {
        padding: 1rem;
    }

}

@media (max-width: 480px) {
    .registro {
        width: 70%;
    }
        .footer__content {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0;
        }

        .fruit-container__fruit img {
            width: 200px; /* Tamaño para dispositivos muy pequeños */
        }
        .animate-rotate {
            animation: rotate-small 2s infinite linear;


        }

        .map__iframe {
            height: 300px; /* Reduce la altura en pantallas más pequeñas */
        }
    }

/* Media Query */

@media (max-width: 768px) {
    .header__logo img {
        max-height: 200px; 
    }

    .header__nav {
        display: none;
    }

    .header__menu-icon {
        display: block;
    }

    .header__menu-toggle:checked + .header__menu-dropdown {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--color-primary);
        padding: 1rem;
        width: 200px;
    }
    .section__title{
        font-size: 1.5em;
    }

    .section {
    padding: 2rem 1rem;
    
}
    .featured-products__col {
        max-width: calc(50% - 1rem); /* Dos columnas en lugar de una en pantallas pequeñas */
    }

    .featured-products__col img{
        max-width: 15em; /* Ajustar el ancho al contenedor */
    
        max-height: 15em; /* Limitar la altura máxima para evitar el desbordamiento */
    }

    .promo__container {
        flex-direction: column; /* Cambiar a columnas en pantallas pequeñas */
        gap: 1rem; /* Añadir espacio entre elementos */
    }
    .promo__text {
        font-size: 1em;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
    }
    .footer__column {
        flex: 1 1 100%; /* Columna toma el 100% del ancho en pantallas pequeñas */
        max-width: 100%;
    }

    .footer__social-icons a {
        font-size: 1.2rem;
    }


     
}

/* Media Query para pantallas grandes */
@media (min-width: 1200px) {
    .featured-products__col {
        max-width: calc(25% - 1.5rem); /* Cuatro columnas en pantallas grandes */
    }
}


@media (min-width: 768px) {
    .footer__content {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    justify-content: space-between;
    }

    
}
    